<p id="notice"><%= notice %></p>

<h1>Muestras</h1>

<table>
  <thead>
    <tr>
      <th>Hora</th>
      <th>Humedad</th>
      <th>Temperatura</th>
      <th>Tarea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muestras.each do |muestra| %>
    <% if muestra.muestreo_id == @muest_id %>
      <tr>
        <td><%= muestra.hora %></td>
        <td><%= muestra.humedad %></td>
        <td><%= muestra.temperatura %></td>
        <td><%= Tarea.find(muestra.tarea_id).nombre %></td>
        <% if(@can_create) %>
        <td><%= link_to 'mostrar mas', muestra %></td>
        <td><%= link_to 'Edit', edit_muestra_path(muestra) %></td>
        <td><%= link_to 'Destroy', muestra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Muestra', new_muestra_path %>
<%= link_to 'Back', muestreos_path %>
