<p id="notice"><%= notice %></p>

<h1>Muestras</h1>

<table>
  <thead>
    <tr>
      <th>Hora</th>
      <th>Humedad</th>
      <th>Temperatura</th>
      <th>Tarea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muestras.each do |muestra| %>
    <% if muestra.muestreo_id == @muest_id %>
      <tr>
        <td><%= muestra.hora %></td>
        <td><%= muestra.humedad %></td>
        <td><%= muestra.temperatura %></td>
        <td><%= Tarea.find(muestra.tarea_id).nombre %></td>
        <% if(@can_create) %>
        <td><%= link_to 'mostrar mas', muestra %></td>
        <td><%= link_to 'Edit', edit_muestra_path(muestra) %></td>
        <td><%= link_to 'Destroy', muestra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nueva Muestra', new_muestra_path %>
<br>
<p>
  <h1>Horas de muestra</h1>
</p>
<table>
  <thead>
  <tr>
  <th> Dia </th>
  <th> Hora </th>
  </tr>
  </thead>
<% @horarios.each do |sc| %>
  <tbody>
  <tr>
    <% if(Time.now - sc.hora < 0) %>
    <td><%= sc.hora.strftime('%F') %></td>
    <td><%= sc.hora.strftime('%I:%M:%S %p') %></td>
    <% end %>
  </tr>
  
  </tbody>
<% end %>
</table>
<br>

<p>
  <h1>Observaciones</h1>
</p>

<table>
  <thead>
  <tr>
  <th> Dia </th>
  <th> Hora </th>
  <th> Datos </th>
  <th></th>
  </tr>
  </thead>
<% @observaciones.each do |ob| %>
  <tbody>
  <tr>
    <td><%= ob.created_at.strftime('%F') %></td>
    <td><%= ob.created_at.strftime('%I:%M:%S %p') %></td>
    <td><%= ob.descripcion%></td>
    <td><%= link_to 'Show', ob %></td>
  </tr>
  
  </tbody>
<% end %>
</table>
<br>


<%= link_to 'Nueva Observacion', new_observacion_path %>
<%= link_to 'Volver', muestreos_path %>
